<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite1" parallel="classes">
	<test thread-count="5" name="Test1" parallel="classes">
		<classes>
			<class name="testCases.BrowserTest" />
			<class name="testCases.BrowserTest2">
			<methods>
			<include name="startTest2"></include>
			</methods>
			</class>
		</classes>
	</test>
</suite>
